.card{
    display: flex;
    gap:20px;
    overflow: hidden;
}
.card-poster{
    width:40%;
    height: 200px;
    padding: 0;
}
.card-details{
    width:59%;
    align-self: center;
    padding:10px;
}
.card-poster > img {
    height: 100%;
    width: 100%;
    object-position: center;
    border:none;
    border-radius: 10px;
    box-shadow: 10px 0 40px rgba(0, 0, 0, .6);
}
.card-details > p , div {
    padding:5px 0;
}
.card-details p:nth-of-type(1){
    color:var(--text-color);
    font-family: var(--font-family);
    font-size: clamp(1rem,2vw,1.6rem);
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4; 
    max-height: calc(1.4em * 3); 
}
.card-details p:nth-of-type(2){
    font-size: 15px;
    color: var(--default-text-color);
}
.movie-details  span{
    font-family: var(--font-family);
    font-size: 15px;
    color: var(--default-text-color);
    padding:5px 5px;
}
.movie-details span > svg{
    height: 100%;
    vertical-align: middle;
}
.movie-details span:nth-of-type(1){
    padding-left: 0;
}
@media screen and (max-width:400px){
    .card{
        flex-direction: column;
    }
    .card-poster ,
    .card-details{
        width:100%;
    }
}