:root{
  --background-color:hsl(248, 60%, 13%);
  --input-background-color:#090040;
  --text-color:#FFCC00;
  --default-text-color:#FFFFFF;
  --font-family:"Amethysta", serif;
  --secondary-font-family: "Inter", sans-serif;
}
*{
  font-family: var(--font-family);
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body{
  background-color: var(--background-color);
}
button{
  cursor: pointer;
}
.card-container{
  width:100%;
  margin-top:10px;
  padding:40px;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
  gap:30px;
  flex-wrap: wrap;
}
@media screen and (max-width:400px){
    .card-container{
       grid-template-columns:repeat(auto-fit, minmax(200px, 1fr)); 
    }
}